.Rproj.user
.Rhistory
.RData
.DS_Store
/node_modules
/lib
/srv/publisher.ls
/www/screen.css
/www/external.css
/www/external.js
/data/tiles/*
/data/tiles/*/*
/data/tiles/*/*/*
/www/js/*
!/www/js/_loadExternal.js
!/www/js/echo.js
/www/script.js
/*.sublime-workspace
